# owner-manager-bot
[Unit]
Description=Telegram bot for managing ownership of various items
After=network.target

[Service]
ExecStart=owner-manager-bot

[Install]
WantedBy=multi-user.target